# Core NLP Libraries
spacy>=3.0.0
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
datasets

# Data Manipulation & Visualization
numpy
pandas
matplotlib
seaborn

# Utilities
tqdm
scikit-learn

# Apps
streamlit
safetensors
tokenizers